.projectCardItem {
  margin: 5px;
  padding: 5px;
  border-radius: 10px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.projectCardItem image {
  width: 80%;
  border-radius: 50px !important;
}
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  border-radius: 8px;
  margin: 20px;
}
.projects p {
  width: 60%;
  padding: 15px;
  margin: 10px;
}
