/* skills */
.skill {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  text-align: center;
  padding: 10px;
  background-color: rgba(43, 43, 43, 0.752);
  border-radius: 10px;
  margin: 10px;
}
.skill-slider {
  display: flex;
  overflow: hidden;
  scroll-behavior: auto;
  width: 90%;
}
.skill-slider div img {
  width: 250px;
}
